{% extends "base.html" %} {% block content %}

<div class="container-create-blog">
    <div class="heading">
        <p> New Recipe!</p>
    </div>
    <div class="form-div">
        <form class="form-signin create-blog-form" method="POST">
            <div class="form-inputs">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{form.dish_name.label}}
                    <br> {{ form.dish_name(class_="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.dish_reciepe.label}}
                    <br> {{ form.dish_reciepe(class_="form-control", rows="10")}}

                </div>
                <div class="create-btn-div">
                    {{ form.save_blog(class_="btn", id="add_btn")}}
                </div>

        </form>
        </div>
    </div>
    {% endblock %}