 {% extends "base.html" %} {% block content %}

<div class="container-center">
    {% for blog in blogs_list %}
    <div class="card" onclick="window.location='/blogs/{{blog.blog_id}}';">
        {% if blog.recipe_img == None %}
        <picture>
            <source media="(min-width: 700px)" srcset="{{url_for('static', filename='images/blogs700/default.jpg')}}">
            <source media="(min-width: 360px)" srcset="{{url_for('static', filename='images/blogs350/default.jpg')}}">
            <img src="{{url_for('static', filename='images/default.jpg')}}" class=" img-fluid card-img-top">
        </picture>
        {% else %}
        <!-- if image is present -->
        <picture>
            <source media="(min-width: 700px)" srcset="{{url_for('static', filename='images/blogs700/'+blog.recipe_img)}}">
            <source media="(min-width: 360px)" srcset="{{url_for('static', filename='images/blogs350/'+blog.recipe_img)}}">
            <img src="{{url_for('static', filename='images/'+blog.recipe_img)}}" class="img-fluid card-img-top">
        </picture> {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{blog.dish_name}}</h5>
            <p class="card-text" id="recipe_text">{{blog.dish_receipe}}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <a href="#" class="card-link">{{blog.email}}</a>
                </div>
                <div class="col-6">
                    <p class="card-text card-link text-right"><small class="text-muted">{{blog.date.strftime("%d/%m/%y")}}</small></p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>




{% endblock %}