{% extends "base.html" %} {% block content %}

<!-- <div class="jumbotron">
    <form method="POST">
        {{ form.hidden_tag() }} {{ form.first_name.label}}
        <br> {{ form.first_name(value= user_info.first_name) }}
        <br> {{ form.last_name.label}}
        <br> {{ form.last_name(value=user_info.last_name) }}
        <br> {{ form.email.label}}
        <br> {{ form.email(value= user_info.email) }}
        <br> {{ form.old_password.label }} <br> {{ form.old_password }}
        <br> {{ form.new_password.label }} <br> {{ form.new_password }}
        <br> {{ form.con_password.label }}
        <br> {{ form.con_password}}
        <br> {{ form.submit}}


    </form>
</div> -->
<div class="parent-container">

    <div class="row justify-content-md-center">

        <div class="col-4 mycontent-left">
            <div class="position-fixed">
                <img src="{{url_for('static', filename='profile_pics/'+user_info.profile_image)}}" style="width: 200px; height: 200px;">
                <form class="form-row" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label(class="padded_label")}} {{ form.email(value= user_info.email, class="form-control", readonly="readonly") }} {{form.first_name.label(class="padded_label")}} {{ form.first_name(class=" form-control ", value= user_info.first_name) }}
                        {{form.last_name.label(class="padded_label")}} {{ form.last_name(class="form-control ", value=user_info.last_name) }}
                    </div>
                    <div class="form-group">
                        {{ form.profile_pic}}
                    </div>
                    <div class="update-btn">
                        {{ form.submit(class_="btn btn-block btn-color")}}
                        <!-- <button type="submit">Uploooooad</button> -->

                    </div>
                </form>
            </div>

        </div>

        <div class="col-8 ">

            {% for blog in blogs_list %}
            <!-- <div class="container-center"> -->
            <div class="card-container">
                <div class="card w-50">
                    <img src="{{ url_for('static', filename='images/default_blog.jpg') }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.dish_name}}</h5>
                        <p class="card-text">{{blog.dish_receipe}}</p>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="card-link">{{blog.email}}</a>
                            </div>
                            <div class="col-6">
                                <p class="card-text card-link text-right"><small class="text-muted">{{blog.date.strftime("%d/%m/%y")}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- </div> -->
            {% endfor %}

        </div>
        {% endblock %}