{% extends "base.html" %} {% block content %}

<div class="jumbotron">
    <form method="POST">
        {{ form.hidden_tag() }} {{ form.first_name.label}}
        <br> {{ form.first_name(value= user_info.first_name) }}
        <br> {{ form.last_name.label}}
        <br> {{ form.last_name(value=user_info.last_name) }}
        <br> {{ form.email.label}}
        <br> {{ form.email(value= user_info.email) }}
        <br> {{ form.old_password.label }} <br> {{ form.old_password }}
        <br> {{ form.new_password.label }} <br> {{ form.new_password }}
        <br> {{ form.con_password.label }}
        <br> {{ form.con_password}}
        <br> {{ form.submit}}


    </form>
</div>
{% endblock %}