{% extends "base.html" %} {% block content %}


<div class="parent-container">

    <div class="row justify-content-md-center">

        <div class="col-4 mycontent-left">
            <div class="position-fixed">

                <img class="rounded-circle " id="profile-img" src="{{url_for('static', filename='profile_pics/'+user_info.profile_image)}}" style="width: 128px; height: 128px;">

                <form class="form-row" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.profile_pic(class="form-control", onchange="readURL(this);")}}
                        <div class="user-details">
                            {{ form.email.label(class="padded_label")}} {{ form.email(value= user_info.email, class="form-control", readonly="readonly") }} {{form.first_name.label(class="padded_label")}} {{ form.first_name(class=" form-control ", value= user_info.first_name) }}
                            {{form.last_name.label(class="padded_label")}} {{ form.last_name(class="form-control ", value=user_info.last_name) }}
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        
                    </div> -->
                    <div class="update-btn">
                        {{ form.submit(class_="btn btn-block btn-color")}}
                        <!-- <button type="submit">Uploooooad</button> -->

                    </div>
                </form>
            </div>

        </div>

        <!-- Blog section -->

        <div class="col-8 ">

            {% for blog in blogs_list %}
            <!-- <div class="container-center"> -->
            <div class="card-container">
                <div class="card w-50">
                    {% if blog.recipe_img == None %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top"> {% else %}
                    <img src="{{ url_for('static', filename='images/'+blog.recipe_img) }}" class="card-img-top"> {% endif %}


                    <div class="card-body">
                        <h5 class="card-title">{{blog.dish_name}}</h5>
                        <p class="card-text">{{blog.dish_receipe}}</p>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="card-link">{{blog.email}}</a>
                            </div>
                            <div class="col-6">
                                <p class="card-text card-link text-right"><small class="text-muted">{{blog.date.strftime("%d/%m/%y")}}</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-block btn-color" href="{{url_for('blog_bp.update_blog', blog_id=blog.blog_id)}}"> Update Blog</a>
                    </div>
                </div>

            </div>
            <!-- </div> -->
            {% endfor %}

        </div>
        {% endblock %}