 {% extends "base.html" %} {% block content %}

<div class="tab-container-center">
    <!-- Classic tabs -->
    <div class="classic-tabs">

        <ul class="nav tab" id="myClassicTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab-classic" data-toggle="tab" href="#profile-classic" role="tab" aria-controls="profile-classic" aria-selected="true" tabindex="1">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="follow-tab-classic" data-toggle="tab" href="#recipe-classic" role="tab" aria-controls="recipe-classic" aria-selected="false" tabindex="2">Recipe</a>
            </li>

        </ul>

        <hr>

        <div class="tab-content" id="myClassicTabContent">
            <div class="tab-pane fade active show" id="profile-classic" role="tabpanel" aria-labelledby="profile-tab-classic">

                <div class="container-profile">
                    <div class="profile-div">
                        <picture>
                            <source media="(min-width: 900px)" srcset="{{url_for('static', filename='profile_pics_220by220/'+user_info.profile_image)}}">
                            <source media="(min-width: 700px)" srcset="{{url_for('static', filename='profile_pics_200by200/'+user_info.profile_image)}}">
                            <source media="(min-width: 360px)" srcset="{{url_for('static', filename='profile_pics_128by128/'+user_info.profile_image)}}">
                            <img src="{{url_for('static', filename='profile_pics_128by128/'+user_info.profile_image)}}" id="profile-img" alt="profile image">
                            <p id="user_email">{{user_info.email}}</p>
                        </picture>
                    </div>

                    <div class="account-div">
                        <form class="form-row" method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.profile_pic(class="form-control", onchange="readURL(this);")}}
                                <div class="user-details">
                                    {{form.first_name.label(class="padded_label")}} {{ form.first_name(class=" form-control ", value= user_info.first_name) }} {{form.last_name.label(class="padded_label")}} {{ form.last_name(class="form-control ", value=user_info.last_name) }}
                                </div>


                            </div>
                            <!-- <div class="form-group">
                            
                        </div> -->
                            <div class="update-btn">

                                <!-- <button type="submit">Uploooooad</button> -->
                                {{ form.submit(class_="btn", id="submit_btn")}}

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="recipe-classic" role="tabpanel" aria-labelledby="follow-tab-classic">
                {% for blog in blogs_list %}
                <div class="card" onclick="window.location='/blogs/{{blog.blog_id}}';">
                    {% if blog.recipe_img == None %}
                    <picture>
                        <source media="(min-width: 700px)" srcset="{{url_for('static', filename='images/blogs700/default.jpg')}}">
                        <source media="(min-width: 360px)" srcset="{{url_for('static', filename='images/blogs350/default.jpg')}}">
                        <img src="{{url_for('static', filename='images/default.jpg')}}" class=" img-fluid card-img-top">
                    </picture>
                    {% else %}
                    <!-- if image is present -->
                    <picture>
                        <source media="(min-width: 700px)" srcset="{{url_for('static', filename='images/blogs700/'+blog.recipe_img)}}">
                        <source media="(min-width: 360px)" srcset="{{url_for('static', filename='images/blogs350/'+blog.recipe_img)}}">
                        <img src="{{url_for('static', filename='images/'+blog.recipe_img)}}" class="img-fluid card-img-top">
                    </picture>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{blog.dish_name}}</h5>
                        <p class="card-text" id="recipe_text">{{blog.dish_receipe}}</p>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="card-link">{{blog.email}}</a>
                            </div>
                            <div class="col-6">
                                <p class="card-text card-link text-right"><small class="text-muted">{{blog.date.strftime("%d/%m/%y")}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

        </div>

    </div>
</div>
<!-- Classic tabs -->

{% endblock %}