<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookFood</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>


<body>
    <div class="container">

        <form class="form-signin" method="POST">
            <div class="text-center">
                <h1><a class="app-title" href="/">CookFood</a></h1>
            </div>
            <!-- <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
            {{ form.hidden_tag() }} {{ form.email.label(class_="sr-only")}}
            <p></p>{{ form.email(class_="form-control", placeholder="Email Address")}}
            <p></p>
            {{ form.password.label(class_="sr-only")}} {{ form.password(class_="form-control", placeholder="Password")}}
            <p></p>
            <div class="my-button">
                <div class="row">
                    <div class="col-xs-6" id="signin_btn">
                        {{ form.submit(class_="btn btn-lg btn-block btn-color")}}
                    </div>

                    <div class="col-xs-6" id="blank_div">

                    </div>

                    <div class="col-xs-6" id="signup_btn">
                        <a class="btn btn-lg btn-block btn-color" href="/sign_up">Sign up</a>
                    </div>
                </div>
            </div>
            <p></p>
        </form>
    </div>
</body>


</html>