{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="container-center">
        <div class="image_div">
            <!-- <h2>Image DIV</h2> -->
            <img src="/static/logos/ChefBookLogo.svg" alt="Chef Book Logo">
        </div>

        <div class="form_div">
            <form method="POST">

                <div class="form-inputs">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label}} <br> {{ form.email(class_="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.password.label}} <br> {{ form.password(class_="form-control")}}
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remeber me</label>
                    </div>
                </div>

                <div class="form-btn">
                    <div class="signup_btn">
                        <a class='btn mb-2' href="/sign_up">Sign up</a>
                    </div>
                    <div class="signin_btn">
                        {{ form.submit(class='btn mb-2' )}}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}