:root {
    --primary_color: #f9a825;
    --accent_color: #FBC02D;
    --nav_item_color: white;
    --nav_item_color_hover: #F57F17;
    --backgrond_color: #FFF9C4;
}

html,
body {
    height: 100%;
    background-color: var(--backgrond_color);
}

nav>a {
    color: var(--nav_item_color);
}

#navbarNavDropdown>ul>li>a {
    color: var(--nav_item_color);
}

nav>a:hover {
    color: var(--nav_item_color_hover)
}

#navbarNavDropdown>ul>li>a:hover {
    color: var(--nav_item_color_hover)
}

.dropdown>a {
    color: var(--nav_item_color);
}

.dropdown>a:hover {
    color: var(--nav_item_color_hover);
}

.body-container {
    height: 100%;
    width: 80%;
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.container-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-title {
    color: var(--primary_color);
}

.app-title:hover {
    color: var(--accent_color);
    text-decoration: none;
}

#signin_btn {
    width: 45%;
    position: relative;
}

#signup_btn {
    width: 45%;
    position: relative;
}

#blank_div {
    width: 10%;
    position: relative;
}

.btn-color {
    background-color: var(--primary_color);
    color: white;
}

.btn-color:hover {
    background-color: var(--accent_color);
    color: white;
}

#search-btn {
    background-color: var(--primary_color);
    border: 1px solid var(--nav_item_color);
    color: white;
}

#search-btn:hover {
    background-color: var(--accent_color);
}

.form-div {
    width: 50%;
    height: 80%;
}