:root {
    /* color */
    --primary-color: #344955;
    --primmary-dark-color: #232F34;
    --primary-light-color: #4A6572;
    --secondary-color: #F9AA33;
    /* Font */
    --small-screen-font-size: 16px;
    --med-screen-font-size: 17px;
    --big-screen-font-size: 20px;
    --heading-font-size: 24px;
}

html,
body {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
}


/*
    Navbar
 */

nav {
    background-color: var(--primary-color);
}

nav>a>img:hover {
    background-image: url('/static/logos/ChefBook_Nav_Logo_sec.svg')
}

nav>div#collapse_target>ul>li>a {
    color: white;
}

nav>div#collapse_target>ul>li>a:hover {
    color: var(--secondary-color);
}

nav>div#collapse_target>ul>li>a:active {
    color: var(--secondary-color);
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 170, 51, 0.6);
    outline: none;
}

#search-btn {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    font-size: var(--small-screen-font-size);
}

#search-btn:active {
    background-color: var(--secondary-color);
    color: white;
}

#search-btn:hover {
    background-color: var(--secondary-color);
    color: white;
}


/* --------------------- END NAV BAR ---------------- */


/* 
    View Blogs
    
 */

.card {
    margin-top: 10%;
    box-shadow: 0 8px 6px -6px black;
}

.card:first-child {
    margin-top: 20%;
}

.card>div.card-body>p#recipe_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


/* --------------------- END VIEW BLOGS ---------------- */


/* 
    Create Blog
*/

.container-create-blog {
    flex-basis: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.heading {
    flex-basis: 100%;
    display: flex;
}

.heading>p {
    flex: 1;
    align-self: center;
    color: var(--primmary-dark-color);
    text-align: center;
    font-size: var(--heading-font-size);
}

.form-div {
    flex-basis: 98%;
    margin: 2%;
}

.create-btn-div {
    display: flex;
}

#add_btn {
    flex-basis: 25%;
    background-color: var(--secondary-color);
    color: white;
}


/* --------------------- END CREATE BLOG ---------------- */


/* 
    Account -> Edit Profile
*/

.classic-tabs {
    flex-basis: 100%;
    /* margin: auto; */
    margin-top: 20%;
    /* background-color: khaki; */
}

.classic-tabs>ul>li>a {
    color: var(--primary-color);
}

.classic-tabs>ul>li>a:active {
    color: var(--secondary-color);
}

.classic-tabs>ul>li>a[tabindex]:focus {
    color: var(--secondary-color);
    outline: none;
}


/* Profile */

.container-profile {
    display: flex;
    flex-direction: column;
}

.container-profile>div.profile-div {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
}

.container-profile>div.profile-div>picture {
    flex-basis: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container-profile>div.profile-div>picture>img {
    margin: auto;
    flex-basis: 50%;
    border-radius: 50%;
    max-width: 200px;
}

.container-profile>div.profile-div>picture>p {
    margin-top: auto;
    text-align: center;
    color: var(--primary-color);
}

.account-div {
    display: flex;
    justify-content: space-around;
}

.account-div>form {
    flex-basis: 90%;
    margin: auto;
    display: flex;
}

.account-div>form>div.form-group {
    flex-basis: 100%;
}

.account-div>form>div.form-group>div.user-details {
    margin-top: 5%;
}

.account-div>form>div.update-btn {
    flex-basis: fill;
    background-color: var(--secondary-color);
    margin: auto;
    border-radius: 5px;
}

#submit_btn {
    color: white;
    /* background-color: red; */
}


/* ----------------- END EDIT PROFILE ------------------- */


/* 
    Setting Page
 */

.container-setting {
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.container-setting>div.heading {
    flex-basis: 10%;
}

.container-setting>div.heading>h2 {
    color: var(--primary-light-color);
}

.container-setting#accordionExample {
    flex-basis: 20%;
    margin: 0;
    background-color: red;
}

.card>div#collapsePassword>div.card-body>form>div.form-btn>div.change_password_btn>input[type=submit] {
    /* width: 60%; */
    background-color: var(--primmary-dark-color);
    border-radius: 8px;
    color: white;
    min-height: 40px;
}

.card>div#collapsePassword>div.card-body>form>div.form-btn>div.change_password_btn>input[type=submit]:hover {
    /* width: 60%; */
    background-color: var(--primary-color);
}

.card>div#collapseDeactivate>div.card-body>input[type=button] {
    background-color: var(--primmary-dark-color);
    border-radius: 8px;
    color: white;
    min-height: 40px;
}

.accordion>div.card {
    margin-top: 0;
}

.accordion>div.card.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* ----------------- END SETTING ------------------- */


/*
    RESPONSIVE
 */

@media screen and (min-width:320px) and (max-width:340px) {
    .heading {
        display: none;
    }
}

@media screen and (min-width:700px) {
    /* 
        Create blog page
     */
    .heading {
        margin-top: 90px;
    }
    .heading>p {
        font-size: 30px;
    }
    /* 
        View Blog (single)
    */
    #view_blog_card {
        flex-basis: 70%;
    }
    /* 
        Account -> Edit Profile
    */
    .container>div.tab-container-center {
        flex-basis: 100%;
    }
    .container-profile>div.profile-div>picture {
        flex-basis: 100%;
        /* background-color: red; */
    }
    .container-profile>div.profile-div>picture>img {
        max-width: 300px;
    }
}

@media screen and (min-width:900px) {
    /* Navbar */
    nav>a>img {
        width: 60px;
        height: 60px;
    }
    #search-btn {
        font-size: var(--med-screen-font-size);
    }
    #search-input {
        font-size: var(--med-screen-font-size);
        color: var(--secondary-color);
    }
    nav>div#collapse_target>ul>li>a {
        font-size: var(--med-screen-font-size);
    }
    /* End Nav bar */
    /*
        View Blogs 
     */
    .container-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        align-self: flex-end;
        flex-basis: 40%;
    }
    .card:hover {
        cursor: pointer;
        box-shadow: 0 12px 6px -6px black;
        border-color: var(--secondary-color);
        border-width: 2px;
    }
    /* End View Blog */
}