:root {
    --primary-color: #344955;
    --primmary-dark-color: #232F34;
    --primary-light-color: #4A6572;
    --secondary-color: #F9AA33;
}

html,
body {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
}

.container-center {
    flex-basis: 1;
    margin: auto;
}

.image_div {
    flex-basis: 33%;
    display: flex;
}

.image_div>img {
    flex: 0.5;
    margin: auto;
}

.form_div {
    flex-basis: 65%;
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 170, 51, 0.6);
    outline: none;
}


/* .form-inputs {
    background-color: lightsteelblue;
} */

.form-btn {
    display: flex;
    justify-content: space-between;
}

.signup_btn {
    flex-basis: 48%;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 5px;
}

.btn {
    width: 100%;
    color: white;
    text-decoration: none;
}

.signin_btn {
    flex-basis: 48%;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 5px;
}


/*
    RESPONSIVE 
 */

@media screen and (min-width:700px) {
    .container-center {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .image_div {
        flex-basis: 33%;
        display: flex;
    }
    .image_div>img {
        flex: 1;
    }
    .form_div {
        flex-basis: 65%;
        margin: auto;
    }
}